body{
    overflow-x: hidden;
}
:root{
    --container: #caf0f8;
    --heading-blue: #00a5d0;
    --content: #7d7987;
}
section{
    position: relative;
}

.members-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.faculty-heading i{
    color: var(--heading-blue);
    font-size: 3rem;
}

.head-faculties{
    padding: 5%;
}
.faculty-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}
.faculty-heading h1{
    margin: 0 20px;
    color: var(--heading-blue);
    font-weight: 600;
    font-size: 2rem;
}
.faculty-container{
    text-align: center;
    padding: 5% 5% 3%;
    background-color: var(--container);
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 80px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
}
.faculty-container img{
    height: 200px;
}

.info h5{
    color: var(--heading-blue);
    margin: 10px 0;
}
.info small{
    color: var(--content);
}

@media only screen and (max-width: 1000px){
    .head-faculties{
        text-align: center;
    }
    .faculty-heading{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .faculty-container{
        grid-template-columns: auto;
        gap: 30px;
    }
    .faculty-container img{
        height: auto;
    }
}

/* Faculty Coordinators  */
.container{
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
}
.faculty-coordinators{
    padding: 5%;
}
.faculty-coordinators i{
    font-size: 3rem;
    color: var(--heading-blue);
}
.faculty-club-container{
    background-color: var(--container);
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    padding: 5% 5% 3%;
    text-align: center;
}

.faculty-club-container-2{
    background-color: var(--container);
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    padding: 5% 5% 3%;
    justify-content: space-evenly;
    text-align: center;
}


@media only screen and (max-width: 1000px){
    .faculty-coordinators{
        padding-bottom: 10%;
    }
    .faculty-club-container{
        grid-template-columns: auto;
        gap: 30px;
        width: 100%;
    }
    .faculty-club-container-2{
        grid-template-columns: auto;
        gap: 30px;
    }
}

/* WEB DEVELEPORS  */
.web-devs{
    padding: 4%;
    text-align: center;
}
.web-devs .faculty-heading{
    margin-bottom: 0;
}
.web-devs img{
    height: 150px;
}
.small{
    height: 200px;
}
.web-dev-container{
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 70px;
}

.web-dev-container .info small{
    color: var(--heading-blue);
}
.web-dev-container .info h6{
    color: var(--content);
}
@media only screen and (max-width: 1000px){

    .web-dev-container{
        grid-template-columns: auto;
        gap: 50px;
    }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .web-dev-container{
        grid-template-columns: auto auto;
    }
}

/* TEAM OF TECHNOVA  */
.team-technova{
    padding: 5%;
}
.team-technova img{
    height: 150px;
}
.team-technova .faculty-club-container{
    column-gap: 40px;
}
.team-technova .faculty-club-container-2{
    column-gap: 20px;
}
.team-technova h6{
    font-size: 0.9rem;
}
.team-technova .info small{
    color: var(--heading-blue);
}
.team-technova .info h6{
    color: var(--content);
}


/* CLUBS  */

.club{
    padding: 5%;
    text-align: center;
}
.club .info h5 {
    color: var(--content);
}
.club .info h6{
    color: var(--heading-blue);
}
.club-heading{
    margin: 20px 0;
    color: var(--heading-blue);
}
.club-heading h3{
    font-weight: 800;
}
.translate{
    transform: translateY(3%);
}
.club-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5%;
    gap: 80px;
    justify-content: space-between;
    background-color: var(--container);
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    text-align: center;
}
.github-club .club-container{
    gap: 110px;
}
.gdsc-club .club-container{
    gap: 110px;
}
.game-drifters-club .club-container{
    gap: 100px;
}
.cyber-pirates-club .club-container{
    gap: 70px;
}

/* COORDINATORS  */
.coordinators{
    padding: 5%;
    text-align: center;
    width: 100%;
}
.main-container{
    display: grid;
    gap: 50px;
}
.coordinator-heading{
    text-align: center;
    margin: 30px 0;
}
.coordinator-heading h1{
    margin: 0 20px;;
    color: var(--heading-blue);
    font-weight: 600;
    font-size: 2rem;
}
.coordinators h3{
    font-size: 1.2rem;
    color: var(--heading-blue);
    margin: 10px 0;
}
.coordinators-container-1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 20px;
}
.coordinators-container-2{
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.coordinators .coordinator {
    background-color: var(--container);
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.3);
}
.coordinators .coordinator{
    width: 100%;
    padding: 30px 50px 20px;
}

.coordinators img{
    height: 90px;
    border-radius: 50%;
}
.coordinators ul {
    padding: 0;
}
.coordinators ul li{
    color: var(--content);
}
.coordinators i{
    color: var(--heading-blue);
    font-size: 2.5rem;
}

@media only screen and (max-width: 1000px){
    .club-container{
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
        text-align: center;
    }

    .coordinators-container-1{
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
    }
    .coordinators-container-2{
        display: grid;
        gap: 40px;
        grid-template-columns: auto;
    }
    .coordinators .coordinators-container-2 .coordinator{
        padding: 30px 70px 20px;
    }
    .github-club .club-container{
        gap: 60px;
    }
    .gdsc-club .club-container{
        gap: 60px;
    }
    .game-drifters-club .club-container{
        gap: 60px;
    }
    .cyber-pirates-club .club-container{
        gap: 60px;
    }
    .translate{
        transform: translateY(0%);
    }
    
}
.top-dots{
    position: absolute;
    left: -20px;
    top: 20px;
    height: 70px;
  }

  @media only screen and (max-width: 290px){
        .web-dev-container{
            width: auto;
        }
        .web-devs h5{
            font-size: 1.2rem;
        }
         .web-devs h6{
            font-size: 0.8rem;
        }
        .team-technova{
            padding: 0;
        }
        .team-technova .container{
            padding: 0;
        }
        .team-technova h5{
            font-size: 1rem;
        }
        .team-technova h6{
            font-size: 0.8rem;
        }
        .club{
            padding-bottom: 20px;
        }
        .club h5{
            font-size: 1.2rem;
        }
        .club h6 {
            font-size: 0.8rem;
        }

  }
